.module-display {
  border: 1px solid white;
  min-width: 50vw;
  min-height: 45vh;
  padding: 0.2rem;
  overflow: scroll;
}
.list {
  max-width: 100%;
  list-style: none;

  padding: 0;
  padding-right: 1rem;
}
